<%- include('parts/head') %>
</head>
<body>
    <div class="content">
        <a href="/"><img src="/images/logo.png" alt="Logo" id="logo"></a>

        <h1>Ops...</h1>
        <h3>Ocorreu um erro!</h3>
        <h4>Error 404 Not Found</h4>
    </div>
</body>
</html>