<%- include('parts/head') %>
</head>

<body>
    <div class="content">
        <a href="/"><img src="/images/logo.png" alt="Logo" id="logo"></a>

        <h1>Ops...</h1>
        <br>
        <h3>Ocorreu um erro!</h3>
        <p><%=err%></p>
    </div>
</body>

</html>