<%- include('parts/head') %>
</head>

<body>

    <div class="content">
        <a href="/"><img src="/images/logo.png" alt="Logo" id="logo"></a>
        
        <p>A <span class="name_enterprise">Bem Promotora</span> é uma empresa com diversos produtos, tendo seu
            principal foco no Crédito Consignado, sendo de aposentados e pensionistas do INSS e funcionários
            públicos Federais. Assim ela gostaria de realizar uma pesquisa com seus clientes.</p>

        <h3>Responda as perguntas abaixo:</h3>
        <br>
        <form action="/send" method="POST">
            <fieldset>
                <legend>1. Qual sua faixa de Idade:</legend>
                <input type="radio" name="ageRange" value="Até 30 anos" required> Até 30 Anos<br>
                <input type="radio" name="ageRange" value="De 30 a 50 anos" required> De 30 a 50 anos<br>
                <input type="radio" name="ageRange" value="De 50 a 65 anos" required> De 50 a 65 anos<br>
                <input type="radio" name="ageRange" value="Acima de 65 anos" required> Acima de 65 anos<br>
            </fieldset>
            <br>
            <fieldset>
                <legend>2. Qual seu convênio:</legend>
                <input type="radio" name="agreement" value="INSS" required> INSS<br>
                <input type="radio" name="agreement" value="SIAPE" required> SIAPE<br>
                <input type="radio" name="agreement" value="Forças Armadas" required> Forças Armadas<br>
                <input type="radio" name="agreement" value="Outros" required> Outros<br>
            </fieldset>
            <br>
            <fieldset>
                <legend>3. Qual sua faixa salarial:</legend>
                <input type="radio" name="salaryRange" value="Até 2 SM" required> Até 2 SM<br>
                <input type="radio" name="salaryRange" value="De 2 a 4 SM" required> De 2 a 4 SM<br>
                <input type="radio" name="salaryRange" value="De 4 a 6 SM" required> De 4 a 6 SM<br>
                <input type="radio" name="salaryRange" value="Acima de 6 SM" required> Acima de 6 SM<br>
            </fieldset>
            <br>
            <fieldset>
                <legend>4. Por que você realizou o empréstimo:</legend>
                <input type="radio" name="loanReason" value="Pagar contas"> Pagar contas<br>
                <input type="radio" name="loanReason" value="Reforma da Casa"> Reforma da Casa<br>
                <input type="radio" name="loanReason" value="Compra de Carro"> Compra de Carro<br>
                <input type="radio" name="loanReason" value="Outras"> Outras<br>
            </fieldset>
            <br>

            <input class="button" type="submit" value="Enviar">
        </form>
    </div>


</body>

</html>