<%- include('parts/head') %>
</head>

<body style="width: 700px; margin-left:auto; margin-right:auto; background-color: darkgrey;">
    <div style="background-color: azure; padding: 10px;">
        <h1 style="text-align: center;">Muito Obrigado por sua contribuição!</h1>
        <h4 style="text-align: center;">A Bem Promotora agradece a sua ajuda! Conte sempre conosco!</h4>
    </div>
</body>

</html>