<%- include('parts/head') %>
</head>

<body>
    <div class="content">
        <a href="/"><img src="/images/logo.png" alt="Logo" id="logo"></a>
       
        <h1>Muito Obrigado por sua contribuição!</h1>
        <h3>A Bem Promotora agradece a sua ajuda! Conte sempre conosco!</h3>
    </div>
</body>

</html>