body{
    font-family: 'Poppins', sans-serif;
    
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}
#logo{
    display: block;
    
    margin-left: auto;
    margin-right: auto;
}
.content{
    background-color: #ebebeb; 
    padding: 20px;
    
    
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
p{
    text-align: justify;
}
.name_enterprise{
    font-weight: bold;
}
h3, h4, h5, h6{
    font-weight: 600;
}
legend{
    font-weight: 500;
}
fieldset{
    border-radius: 10px;
}
.button{
    background-color: #0a3163; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    display:block
}
.result{
    width:100%; 
    padding: 10px; 
    text-align: center;
}
.button:hover {
    background-color: #082244; 
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
table{
    border-collapse: collapse;
    width: 100%;
}
table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table tr:nth-child(even){background-color: #f2f2f2;}
  table tr:hover {background-color: #ddd;}
  table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #0a3163;
    color: white;}
@media only screen and (min-width: 600px) {
    body {
        background-image: url('/images/background-image.jpg');
        height: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    .content{
        margin-left:auto; 
        margin-right:auto;
        width: 700px; 
    }
    #logo{
        width: 350px;
    }
}
@media only screen and (max-width: 600px) {
    table{
        font-size: 10px;
    }

    body{
        background-color: gray;
    }
    #logo{
        width: 300px;
    }
    h1, h2, h3, h4, h5, h6{
        text-align: center;
    }
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    h4{
        font-size: 16px;
    }
    h5{
        font-size: 14px;
    }
    h6{
        font-size: 12px;
    }
}
@media only screen and (max-width: 320px) {
    
    #logo{
        width: 270px;
    }
}
@media only screen and (max-width: 280px) {
    
    #logo{
        width: 200px;
    }
}